#{extends 'main.html' /}
#{set title:'tcommerce signup' /}
<form action="@{Auth.register}" method="POST" accept-charset="${_response_encoding}">
	 <label>Email</label>
       <input type="text" name="user.name" placeholder="Email or username" id="email" /><br>
       <label>Password</label>
       <input type="password" name="user.password" placeholder="Password" id="password" /><br>		         
       <div style="width:220px;float:left;">
		<input type="submit" value="Login" class="btn btn-primary btn-medium" />
	</div>				
</form>	