#{extends 'main.html' /}
#{set title: 'Customers' /}
<div class="row-fluid rounded" style="background-color: white;">
    <div class="row-fluid">
	    <div class="span4 module" style="border-width: 1px;">
	       <h4 class="rounded-title" style="margin-left: 5px;">Products</h4>
	        <ul class="nav nav-pills nav-stacked customerSideBar">
	           #{list itemList, as:'product'}
	                   <li ${product_isFirst ? 'class=active' : ''}>
	                       <a onclick='showProductTweets(${product.id},this);' style="vertical-align: middle;">
	                       		<img width="48" height="48" src="${product.picture}">
	                            <span>#{tc.user.shortenDesc product.description /}</span>
	                       </a>
	                   </li>
	           #{/list} 
	         </ul>  
	    </div>
	    <div class="span8 module" style="height: 100%; padding-right: 10px;" >
	       <h4 class="rounded-title">Tweets</h4>
	        #{if itemList.size() == 0}
	            <div class="alert alert-error">We could not find any tweet yet</div>
	        #{/if}
	        #{else}
	        		%{firstItem = itemList.get(0)}%
	        	 <div class="rounded" id="tweetList">
	        	 	#{list firstItem.tweets, as:'tweet'}
	        	 		<div style="display: block; border-bottom: 1px solid; border-bottom-color: #E8E8E8; padding-top: 3px; padding-bottom: 3px; padding-left: 3px;">
	        	 		   <div>
	        	 		       <p><a href="@{Application.profile(tweet.owner.id)}" target="_blank"> @${tweet.owner.screenName}: </a>
	        	 		       <p>${tweet.tweet}</p>
	        	 		   </div>
	        	 		   <div>
	        	 		       <div style="float:left">
	        	 		           <a class="btn btn-link btn-small">View Replies</a>
	        	 		       </div>
	        	 		       <div style="text-align: right;">
                                    <button class="btn btn-success btn-small">Reply</button>
                                    <a class="btn btn-info btn-small" href="https://twitter.com/${tweet.owner.screenName}/status/${tweet.tweetId}" target="_blank">Show on Twitter</a>
                               </div>
	        	 		   </div>
	        	 		   
	        	 		</div>
	        	 	#{/list}
	        	 </div>
	        #{/else}
	    </div>
    </div>
</div>
<script id="tweetTemplate" type="text/html">
<div style="display: block; border-bottom: 1px solid; border-bottom-color: #E8E8E8; padding-top: 3px; padding-bottom: 3px; padding-left: 3px;">
	<div>
	    <p><a href="/profile/<#=tweet.ownerId#>" target="_blank"> @<#=tweet.ownerScreenName#>: </a>
	    <p><#=tweet.tweet#></p>
	</div>
	<div>
	    <div style="float:left">
	        <a class="btn btn-link btn-small">View Replies</a>
	    </div>
	    <div style="text-align: right;">
	         <button class="btn btn-success btn-small">Reply</button>
	         <a class="btn btn-info btn-small" href="https://twitter.com/<#=tweet.ownerScreenName#>/status/<#=tweet.tweetId#>" target="_blank">Show on Twitter</a>
	    </div>
	</div>
</div>
</script>

<script id="noTweetTemplate" type="text/html">
    <div class="alert alert-error" style="margin-bottom: 0px; text-align: center;">We could not find any tweet yet</div>
</script>
