#{extends 'main.html' /}
#{set title: 'Customers' /}

<div class="row-fluid" style="background-color: white;">
    <div class="span3" style="border-width: 1px;"><h2 style="text-align: center;">Products</h2></div>
    <div class="span7" style="border-width: 1px;"><h2 style="text-align: center;">Tweets</h2></div>
</div>
<div class="row-fluid" style="background-color: white;">
    <div class="span4" style="border-width: 1px;">
        <ul class="nav nav-pills nav-stacked customerSideBar">
           #{list itemList, as:'product'}
                   <li ${product_isFirst ? 'class=active' : ''}>
                       <a onclick='showProductTweets(${product.id},this);' style="vertical-align: middle;">
                       		<img width="48" height="48" src="${product.picture}">
                            <span>#{tc.user.shortenDesc product.description /}</span>
                       </a>
                   </li>
           #{/list} 
         </ul>  
    </div>
    <div class="span6" style="height: 100%;" id="tweetList">
        #{if itemList.size() == 0}
        	<h1>We could not find any tweet yet</h1>
        #{/if}
        #{else}
        		%{firstItem = itemList.get(0)}%
        	 <ul>
        	 	#{list firstItem.tweets, as:'tweet'}
        	 		<li>${tweet.tweet}</li>
        	 	#{/list}
        	 </ul>
        #{/else}
    </div>
</div>
<script id="tweetTemplate">
	<li>
		<#=tweet.tweet#>
	</li>
</script>
<script id="tweetListTemplate">
	<ul>
		<#=list#>
	</ul>
</script>