#{extends 'main.html' /}
#{set title:'Item Details' /}
<div class="row-fluid">
<div class="span4">

		<div class="productCard" onclick="window.location='/item/${product.id}'" style='cursor: pointer;'>
			<div class="productImg">
				<img src="${product.picture}" alt="foto" />
			</div>
	
			<div class="productDetail">
				${product.description}
			</div>
	
		</div>
		<div class="clear"></div>
		<div>
			<p style="text-align: right; margin-right: 10px;">
				<span class="comment">${product.getUniqueVisitorCount(product.id)} View</span>
				<span class="comment">&#8226;</span> <span class="comment">${product.comments.size()} Comment</span>
			</p>
		</div>
		<div class="clear"></div>
		<div class="cardUser"
			onclick="window.location='<%=request.getContextPath()+"/user.jsp?user="+product.getAnnouncerId()%>'"
			style='cursor: pointer;'>
			<div>
			<img src="${product.owner.picture}" alt="foto" /> <span class="name">${product.owner.screenName}</span>
			</div>
			%{ like = (int)(Math.random() * 30); }%
			%{ trust = 100 - like}%
			<div>
				<p style="text-align: right; margin-bottom: 1px; padding-bottom: 1px;"><span class="comment">Seller Rating ${trust}%</span></p>
			</div>
			<div class="video-extras-sparkbars" style="margin-bottom: 2px;">
				<div class="video-extras-sparkbar-likes"
					style="width: ${100 - like}%"></div>
				<div class="video-extras-sparkbar-dislikes"
					style="width: ${like}%"></div>
			</div>
		</div>

</div>
<div class="span4">
	<div style="text-align: center"><h2>Comments</h2></div>
	<div class = "commentContainer">
		#{list items:product.comments, as: 'comment'}
			<div class = "commentElement" style="margin-bottom:10px;position:relative">
				<a href = "@{Application.profile(comment.owner.id)}"><img src="${comment.owner.picture}"></a> 
				<span>${comment.commentText}</span>
				<div style="position:absolute;right:20px;bottom:0px">${comment.getTime()}</div>
			</div>
			
		#{/list}
		#{if product.comments.size() == 0}
		<div style="text-align: center"><h4>No comment yet</h4></div>
		#{/if}
	</div>
	#{if user}
	<div>
		<img width="48px" height="48px" src="${user.picture}">
		<textarea id="commentText" rows="2">Add comment</textarea>
		<div style="clear:both;"></div>
		<input style="margin-left:50px" value="Comment" type="button" class="addCommentButton" data-item = "${product.id}" onclick="addComment(${product.id})"/>
	</div>
	#{/if}
	#{else}
	<div style="text-align: center;margin-top:50px;color:red"><h4>Login to Comment</h4></div>
	#{/else}

</div>
<div class="span2">
	<div style="text-align: center"><h2>Visits</h2></div>
	<div class = "visitorContainer">
		#{list items:product.getVisitors(), as: 'visitor'}
			<div class = "commentElement" style="margin-bottom:10px;position:relative">
				<a href = "@{Application.profile(visitor.id)}"><img src="${visitor.picture}"></a> 
				<span>${visitor.screenName}</span>
				<div style="position:absolute;right:0px;bottom:0px">${visitor.visitCount(product)} visits. Latest ${visitor.latestVisit(product)}</div>
			</div>
			
		#{/list}
		#{if product.getVisitors().size() == 0}
		<div style="text-align: center"><h4>No visit yet</h4></div>
		#{/if}
	</div>
</div>

<div class="span2">
</div>
</div>
#{commentTemplate /}